<div class="container justify-content-center">
    <h1 *ngIf="products; else: noProduct" class="text-center mt-2">{{productTitle}}</h1>

    <ng-template #noProduct>
        <h1 class="text-center mt-2">Ürün Bulunamadı</h1>
    </ng-template>

    <div *ngIf="products" class="form-group mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ürün arayınız</label>
        <input class="form-control" id="searchProduct" placeholder="Arama" [(ngModel)]="filterText" />
    </div>
</div>
    <div class="row">
            <div *ngFor="let product of products | productFilter:filterText" class="card border mx-auto my-3" style="width: 300px;">
                <div class="card-header text-center bg-danger">
                    <h6 class="card-title mt-1">{{product.name}}</h6>
                </div>
                <div class="card-body">
                    <img [src]="product.imageUrl" class="img-fluid rounded" alt="">
                </div>
            </div>
    </div>
